/* @import "node_modules/ol/ol.css";/* Importa estilos base de OpenLayers */

/* ======= ESTRUCTURA GENERAL ======= */
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* ======= ENCABEZADO ======= */
.header {
  background-color: #005b96;
  color: white;
  padding: 0.1rem 1.5rem;
  text-align: center;
  font-size: 1.3rem;
}

/* ======= CONTENEDOR PRINCIPAL ======= */
.container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* ======= PANEL LATERAL ======= */
.sidebar {
  width: 280px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sidebar h2 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.5rem;
  width: 260px;          
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layers-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 410px;      /* Ajustá según tu diseño */
  overflow-y: auto;
  padding-right: 6px;     /* evita que el scroll tape texto */
}

.layers-panel li {
  margin-bottom: 0.5rem;
}

/* ======= ÁREA DEL MAPA ======= */
.map-area {
  flex: 1;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
}

/* ======= PIE DE PÁGINA ======= */
.footer {
  background-color: #eee;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #ccc;
}

.layers-panel ul::-webkit-scrollbar {
  width: 6px;
}

.layers-panel ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.layers-panel ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ======= CONTROL DE HERRAMIENTAS ======= */

.ol-custom-tools {
  position: absolute;
  top: 80px;             /* Debajo del control de zoom */
  left: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1000;
}

.ol-custom-tool-btn {
  background-color: white;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  width: 28px;
  height: 28px;

  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  text-align: center;
}

.ol-custom-tool-btn:hover {
  background-color: #eee;
}

.ol-custom-tool-btn.active-tool {
  background-color: #1976d2;
  color: white;
}

